:root {
    --fontheading: 'Josefin Sans', sans-serif;
    --fontparagraph: 'Open Sans', sans-serif;;
    --primary: #DE4D86;
    --secondary: #FBDFE9;
    --dark: #001524;
    --light: #7796CB;
    --extra_white: #FBF5F6;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: var(--secondary);
    font-family: var(--fontparagraph);
    font-size: 1.6rem;
    line-height: 2;
}

/* Global */

.container {
    max-width: 120rem;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
h1, h2, h3 h4 {
    font-family: var(--fontheading);
}
h1 {
    font-size: 4.8rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3.2rem;
}
h4 {
    font-size: 2.8rem;
}
img {
    max-width: 100%;
}

/** Header **/

.header {
    background: linear-gradient(0deg, rgba(251,223,233,1) 11%, rgba(222,77,134,0.4074404761904762) 100%), url(../img/img_header.jpg);
    background-position: center center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 2rem;
}

.header__logo1 {
    max-width: 20rem;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.header__logo2 {
    max-width: 30rem;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.nav {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}



/**
.nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
}

.nav__link {
    color: var(--primary);
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0 2rem;
}

.nav__link:hover {
    background-color: rgba(251, 223, 233, .5);
    border-radius: .5rem;
    padding: 0 2rem;
    transition: .4s ease;
}

*/